Service References/BankRecordCarrier/BankRecordCarrier41.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Addit.AK.WBD.BankRecordCarrierService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Addit.AK.WBD.BankRecordCarrierService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Response">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExeptionMsg" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResponseCode" type="xs:int" />
      <xs:element minOccurs="0" name="ResponseMsg" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Response" nillable="true" type="tns:Response" />
  <xs:simpleType name="V3Type">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CREMUL" />
      <xs:enumeration value="DEBMUL" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="V3Type" nillable="true" type="tns:V3Type" />
</xs:schema>