Service References/BankRecordCarrier/BankRecordCarrier1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BankRecordCarrier" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:55244/BankRecordCarrier.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:55244/BankRecordCarrier.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:55244/BankRecordCarrier.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Addit.AK.WBD.BankRecordCarrierService" />
      <xsd:import schemaLocation="http://localhost:55244/BankRecordCarrier.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBankRecordCarrier_generateSepaAuszahlung_InputMessage">
    <wsdl:part name="parameters" element="tns:generateSepaAuszahlung" />
  </wsdl:message>
  <wsdl:message name="IBankRecordCarrier_generateSepaAuszahlung_OutputMessage">
    <wsdl:part name="parameters" element="tns:generateSepaAuszahlungResponse" />
  </wsdl:message>
  <wsdl:message name="IBankRecordCarrier_generateSepaEinzug_InputMessage">
    <wsdl:part name="parameters" element="tns:generateSepaEinzug" />
  </wsdl:message>
  <wsdl:message name="IBankRecordCarrier_generateSepaEinzug_OutputMessage">
    <wsdl:part name="parameters" element="tns:generateSepaEinzugResponse" />
  </wsdl:message>
  <wsdl:message name="IBankRecordCarrier_getBankRecordCarriers_InputMessage">
    <wsdl:part name="parameters" element="tns:getBankRecordCarriers" />
  </wsdl:message>
  <wsdl:message name="IBankRecordCarrier_getBankRecordCarriers_OutputMessage">
    <wsdl:part name="parameters" element="tns:getBankRecordCarriersResponse" />
  </wsdl:message>
  <wsdl:message name="IBankRecordCarrier_readV3Carrier_InputMessage">
    <wsdl:part name="parameters" element="tns:readV3Carrier" />
  </wsdl:message>
  <wsdl:message name="IBankRecordCarrier_readV3Carrier_OutputMessage">
    <wsdl:part name="parameters" element="tns:readV3CarrierResponse" />
  </wsdl:message>
  <wsdl:message name="IBankRecordCarrier_getCopyfiles_InputMessage">
    <wsdl:part name="parameters" element="tns:getCopyfiles" />
  </wsdl:message>
  <wsdl:message name="IBankRecordCarrier_getCopyfiles_OutputMessage">
    <wsdl:part name="parameters" element="tns:getCopyfilesResponse" />
  </wsdl:message>
  <wsdl:portType name="IBankRecordCarrier">
    <wsdl:operation name="generateSepaAuszahlung">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankRecordCarrier/generateSepaAuszahlung" message="tns:IBankRecordCarrier_generateSepaAuszahlung_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBankRecordCarrier/generateSepaAuszahlungResponse" message="tns:IBankRecordCarrier_generateSepaAuszahlung_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="generateSepaEinzug">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankRecordCarrier/generateSepaEinzug" message="tns:IBankRecordCarrier_generateSepaEinzug_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBankRecordCarrier/generateSepaEinzugResponse" message="tns:IBankRecordCarrier_generateSepaEinzug_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getBankRecordCarriers">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankRecordCarrier/getBankRecordCarriers" message="tns:IBankRecordCarrier_getBankRecordCarriers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBankRecordCarrier/getBankRecordCarriersResponse" message="tns:IBankRecordCarrier_getBankRecordCarriers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="readV3Carrier">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankRecordCarrier/readV3Carrier" message="tns:IBankRecordCarrier_readV3Carrier_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBankRecordCarrier/readV3CarrierResponse" message="tns:IBankRecordCarrier_readV3Carrier_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getCopyfiles">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankRecordCarrier/getCopyfiles" message="tns:IBankRecordCarrier_getCopyfiles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBankRecordCarrier/getCopyfilesResponse" message="tns:IBankRecordCarrier_getCopyfiles_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBankRecordCarrier" type="tns:IBankRecordCarrier">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="generateSepaAuszahlung">
      <soap:operation soapAction="http://tempuri.org/IBankRecordCarrier/generateSepaAuszahlung" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="generateSepaEinzug">
      <soap:operation soapAction="http://tempuri.org/IBankRecordCarrier/generateSepaEinzug" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBankRecordCarriers">
      <soap:operation soapAction="http://tempuri.org/IBankRecordCarrier/getBankRecordCarriers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="readV3Carrier">
      <soap:operation soapAction="http://tempuri.org/IBankRecordCarrier/readV3Carrier" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCopyfiles">
      <soap:operation soapAction="http://tempuri.org/IBankRecordCarrier/getCopyfiles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BankRecordCarrier">
    <wsdl:port name="BasicHttpBinding_IBankRecordCarrier" binding="tns:BasicHttpBinding_IBankRecordCarrier">
      <soap:address location="http://localhost:55244/BankRecordCarrier.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>