Service References/BankRecordCarrier/BankRecordCarrier43.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:55244/BankRecordCarrier.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Addit.AK.WBD.BankRecordCarrierService" />
  <xs:import schemaLocation="http://localhost:55244/BankRecordCarrier.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="generateSepaAuszahlung">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="verstaendigtAm" type="xs:dateTime" />
        <xs:element minOccurs="0" name="neuErstellen" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ish" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="generateSepaAuszahlungResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Addit.AK.WBD.BankRecordCarrierService" minOccurs="0" name="generateSepaAuszahlungResult" nillable="true" type="q1:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="generateSepaEinzug">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="monat" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="generateSepaEinzugResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Addit.AK.WBD.BankRecordCarrierService" minOccurs="0" name="generateSepaEinzugResult" nillable="true" type="q2:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getBankRecordCarriers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getBankRecordCarriersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Addit.AK.WBD.BankRecordCarrierService" minOccurs="0" name="getBankRecordCarriersResult" nillable="true" type="q3:Response" />
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="carriers" nillable="true" type="q4:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="readV3Carrier">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filename" nillable="true" type="xs:string" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Addit.AK.WBD.BankRecordCarrierService" minOccurs="0" name="type" type="q5:V3Type" />
        <xs:element minOccurs="0" name="copyfilename" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="accountingEntryDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="readV3CarrierResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Addit.AK.WBD.BankRecordCarrierService" minOccurs="0" name="readV3CarrierResult" nillable="true" type="q6:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCopyfiles">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCopyfilesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Addit.AK.WBD.BankRecordCarrierService" minOccurs="0" name="getCopyfilesResult" nillable="true" type="q7:Response" />
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="copies" nillable="true" type="q8:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>