Service References/DocumentGeneration/DocumentGeneration1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.140.4.80/Services/DocumentGenerationService/DocumentGeneration.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Addit.AK.WBD.DocumentGeneration" />
  <xs:import schemaLocation="http://10.140.4.80/Services/DocumentGenerationService/DocumentGeneration.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="doPrint">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="template" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="printer" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bereich" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bezirk" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ablehnung" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sort" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="von" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bis" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ant_ikey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="wbd_bdl" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="doPrintResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Addit.AK.WBD.DocumentGeneration" minOccurs="0" name="doPrintResult" nillable="true" type="q1:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="doSimplePrint">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="printer" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="doSimplePrintResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Addit.AK.WBD.DocumentGeneration" minOccurs="0" name="doSimplePrintResult" nillable="true" type="q2:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="doPrintWithValues">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="printer" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="templateName" nillable="true" type="xs:string" />
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="values" nillable="true" type="q3:ArrayOfKeyValueOfstringstring" />
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="list" nillable="true" type="q4:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="doPrintWithValuesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Addit.AK.WBD.DocumentGeneration" minOccurs="0" name="doPrintWithValuesResult" nillable="true" type="q5:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>