Service References/DocumentGeneration/DocumentGeneration.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DocumentGeneration" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://10.140.4.80/Services/DocumentGenerationService/DocumentGeneration.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://10.140.4.80/Services/DocumentGenerationService/DocumentGeneration.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://10.140.4.80/Services/DocumentGenerationService/DocumentGeneration.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Addit.AK.WBD.DocumentGeneration" />
      <xsd:import schemaLocation="http://10.140.4.80/Services/DocumentGenerationService/DocumentGeneration.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDocumentGeneration_doPrint_InputMessage">
    <wsdl:part name="parameters" element="tns:doPrint" />
  </wsdl:message>
  <wsdl:message name="IDocumentGeneration_doPrint_OutputMessage">
    <wsdl:part name="parameters" element="tns:doPrintResponse" />
  </wsdl:message>
  <wsdl:message name="IDocumentGeneration_doSimplePrint_InputMessage">
    <wsdl:part name="parameters" element="tns:doSimplePrint" />
  </wsdl:message>
  <wsdl:message name="IDocumentGeneration_doSimplePrint_OutputMessage">
    <wsdl:part name="parameters" element="tns:doSimplePrintResponse" />
  </wsdl:message>
  <wsdl:message name="IDocumentGeneration_doPrintWithValues_InputMessage">
    <wsdl:part name="parameters" element="tns:doPrintWithValues" />
  </wsdl:message>
  <wsdl:message name="IDocumentGeneration_doPrintWithValues_OutputMessage">
    <wsdl:part name="parameters" element="tns:doPrintWithValuesResponse" />
  </wsdl:message>
  <wsdl:portType name="IDocumentGeneration">
    <wsdl:operation name="doPrint">
      <wsdl:input wsaw:Action="http://tempuri.org/IDocumentGeneration/doPrint" message="tns:IDocumentGeneration_doPrint_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDocumentGeneration/doPrintResponse" message="tns:IDocumentGeneration_doPrint_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="doSimplePrint">
      <wsdl:input wsaw:Action="http://tempuri.org/IDocumentGeneration/doSimplePrint" message="tns:IDocumentGeneration_doSimplePrint_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDocumentGeneration/doSimplePrintResponse" message="tns:IDocumentGeneration_doSimplePrint_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="doPrintWithValues">
      <wsdl:input wsaw:Action="http://tempuri.org/IDocumentGeneration/doPrintWithValues" message="tns:IDocumentGeneration_doPrintWithValues_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDocumentGeneration/doPrintWithValuesResponse" message="tns:IDocumentGeneration_doPrintWithValues_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDocumentGeneration" type="tns:IDocumentGeneration">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="doPrint">
      <soap:operation soapAction="http://tempuri.org/IDocumentGeneration/doPrint" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="doSimplePrint">
      <soap:operation soapAction="http://tempuri.org/IDocumentGeneration/doSimplePrint" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="doPrintWithValues">
      <soap:operation soapAction="http://tempuri.org/IDocumentGeneration/doPrintWithValues" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DocumentGeneration">
    <wsdl:port name="BasicHttpBinding_IDocumentGeneration" binding="tns:BasicHttpBinding_IDocumentGeneration">
      <soap:address location="http://10.140.4.80/Services/DocumentGenerationService/DocumentGeneration.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>